.contact h1 {
    color: rgb(211, 124, 11);
    font-size: 3rem;

}

.contact h3 {
    color: rgb(5, 80, 21);
    font-size: 2rem;

}

.contact_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    /* background: url(gallery3.jpg); */
    background-size: cover;

}

.contact_form form {
    margin: 2rem;
    padding: 2rem;
    border-radius: 6px;
    border: 1px solid;
    background: transparent;
    backdrop-filter: blur(2px);


}

.enq {
    text-align: justify;
    margin-left: 2rem;
    font-family: 'Heebo', sans-serif;
}

.enq_p1 {
    font-size: 2rem;
    color: rgb(48, 27, 27);
    margin: 2rem 0;

}

.enq_p2 {
    font-size: 1.5rem;
    color: rgb(48, 27, 27);
}

.enq_ul {
    margin: 2rem;
    color: rgb(2, 2, 68);
    font-family: 'Heebo', sans-serif;
}