body {
    background: #ebcdcd;
}

.gallery_name {
    display: block;
    padding: 2rem 3rem;
    background: #ebcdcd;
}

.gallery_name h1 {
    color: #17700d;
    font-size: 3rem;
}

.gallery {
    display: flex;
    justify-content: center;
    margin: 2rem;
    background-color: #ebcdcd;
    gap: 16px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    left: 0px;
    width: 500px;
    height: 350px;
    background-color: #444444;
    border-radius: 8px;
    transition: 1000ms all;
    transform-origin: center;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    outline: 1px solid #55ee44;
    overflow: hidden;
    z-index: 0;
}

.card img {
    width: 100%;

    object-fit: cover;
    border-radius: 2px;

}

.card:hover {
    z-index: 1;
    cursor: pointer;
    transform: scale(1.15, 1.15);
}